#faculty-list {
    display: grid;
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;

    .faculty-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1.5rem;
        background: #fff;
        transition: box-shadow 0.2s ease;
        position: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h3 {
            margin: 0 0 0.5rem 0;

            a {
                color: #2c5aa0;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


.faculty-detail {
    max-width: 800px;
    border-radius: 8px;
    padding: 1.5rem;
    background: #fff;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;

    h3 {
        margin: 0 0 0.5rem 0;
        color: #2c5aa0;
    }
}

.faculty-photo {
    width: 20%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    margin-bottom: 7px;
    border-radius: 10px;
    background: url('https://placehold.co/480') center / cover no-repeat;
}

.faculty-detail-photo {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 10px;
    background: url('https://placehold.co/480') center / cover no-repeat;
}